{% extends 'index.html' %}

{% block content %}
<body>
    
    <div class="profile-container">
        <h1>Welcome, {{ user.username }}!</h1>
        
        
        <div class="profile-info">
            <h2>Your Profile</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Date Joined:</strong> {{ user.date_joined|date:"F j, Y" }}</p>
        </div>
        <div class="statistics">
            <h2>Your Statistics</h2>
            <p><strong>Average WPM: </strong>{{avgWPM}}</p>
            <p><strong>Average Accuracy: </strong>{{accuracy}}%</p>
            <p><strong>Top 5 Frequently Missed Letters: </strong></p>
            {% for item in lettersMissed %}
                <li>{{item}}</li>
            {% endfor %}
        </div>

        <div class="profile-actions">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="button">Logout</button>
              </form>
        </div>
    </div>

    
    <footer>
        <p>KeyFlow &copy; 2024. All rights reserved.</p>
    </footer>
</body>
{% endblock %}